<style>
  h2 { color:#ff0066;
   font-family: verdana}
</style>

<h2><%= @current_player_name %> attacked <%= @previous_player_name %>!</h2>

<form action="/ok" method="post">
<input type="submit" name ="OK" value="OK">
</form>
